<div id="entire_page">
  <div id="container">
    <!--START OF HEADER-->
    <div id="header_content">
      <div class="first_h">
        <p>⚡️ HAPPY HOLIDAY DEALS ON EVERYTHING ⚡️</p>
      </div>
      <div class="second_h">
        <nav class="nav_f">
          <a href="" class="link">Home</a>
          <a href="" class="link">Catalog</a>
          <a href="" class="link">Shop</a>
          <a href="" class="link">Page</a>
          <a href="" class="link">Blog</a>
          <a href="" class="link">Docs</a>
        </nav>
        <div class="logo_area">
          <a href="" class="logo_link">
            <h2 class="logo">Shopper.</h2>
          </a>
        </div>
        <div class="drawer_icon"><a href=""><span class="dot"><i class="fa-solid fa-bars"></i></span></a></div>
        <nav class="nav_s">
          <ul>
            <li class="list">United States</li>
            <li class="list">USD<i class="fa-solid fa-angle-down"></i></li>
            <li class="list">EN<i class="fa-solid fa-angle-down"></i></li>

          </ul>
        </nav>
        <div class="icons">
          <ul>
            <li class="list"><i class="fa-solid fa-magnifying-glass"></i></li>
            <li class="list"><i class="fa-regular fa-user"></i></li>
            <li class="list"><i class="fa-regular fa-heart"></i></li>
            <li class="list"><i class="fa-solid fa-cart-shopping"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <!--END OF HEADER-->
    <div id="display_pro">
      <router-outlet></router-outlet>
    </div>

    <!--START OF BLOG POST SECTION-->
    <section id="blog">
      <div id="blog_posts">
        <div class="blog_head">
          <span class="gray">Our Blog</span>
          <p class="head">Latest in Blog</p>
        </div>

        <div class="blog_post_box">
          <div class="blog">
            <img
              src="https://images.unsplash.com/photo-1520006403909-838d6b92c22e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              class="blogpost1 blogimg" alt="clothes on hangers">
            <p class="blogp_decrip">
              <span class="date">Fashion / Sept 20, 2022</span>
              <br>
              What to wear this chrismas to have a lovely holiday with loved ones.
            </p>
          </div>
          <div class="blog">
            <img
              src="https://images.unsplash.com/photo-1627384113710-424c9181ebbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              class="blogpost2 blogimg" alt="Orgaics for skincare">
            <p class="blogp_decrip">
              <span class="date">Orgaics and skincare / Oct 3, 2022</span>
              <br>
              Best products to use for flawless and smooter skin.
            </p>
          </div>
          <div class="blog">
            <img
              src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              class="blogpost3 blogimg" alt="shoe">
            <p class="blogp_decrip">
              <span class="date">Nike and shoes / Nov 10, 2022</span>
              <br>
              Nike to release 'The Jock's Special' next year.
            </p>
          </div>
        </div>
        <p class="centre">Discover more</p>

      </div>
    </section>
    <!--END OF BLOG POST SECTION-->

    <!--START OF STORE FEATURES-->
    <section id="features">
      <div id="feat">
        <div class="overall">
          <div class="icon"><i class="fa-solid fa-truck"></i></div>
          <div class="info">
            <span class="uppercase">FREE SHIPPING</span><br>
            <span class="light">From all orders over $100</span>
          </div>
        </div>

        <div class="overall">
          <div class="icon"><i class="fa-solid fa-retweet"></i></div>
          <div class="info">
            <span class="uppercase">FREE RETURNS</span><br>
            <span class="light">Return money within 30 days</span>
          </div>
        </div>

        <div class="overall">
          <div class="icon"><i class="fa-solid fa-lock"></i></div>
          <div class="info">
            <span class="uppercase">SECURE SHOPPING</span><br>
            <span class="light">You're in safe hands</span>
          </div>
        </div>

        <div class="overall">
          <div class="icon"><i class="fa-solid fa-tag"></i></div>
          <div class="info">
            <span class="uppercase">OVER 10,000 STYLES</span><br>
            <span class="light">We have everything you need</span>
          </div>
        </div>

      </div>
    </section>
    <!--END OF STORE FEATURES-->

    <!--FOOTER SECTION AREA-->
    <footer id="footer_box">
      <section id="footer_content">
        <div class="f_foot">

          <h2 class="want">Want style Ideas and Treats?</h2>
          <div class="inputs">
            <input type="email" class="form_input" id="email" placeholder="Enter Email *" />
            <input type="submit" class="form_input" id="submit" value="Subscribe" />
          </div>
        </div>
        <div class="s_foot">
          <div class="img_links">
            <h2 class="f_logo">Shopper.</h2>
            <a href="" class="logo_link">
              <i class="fa-brands fa-facebook gray"></i>

            </a>
            <a href="" class="logo_link">
              <i class="fa-brands fa-youtube gray"></i>
            </a>
            <a href="" class="logo_link">
              <i class="fa-brands fa-twitter gray"></i>
            </a>
            <a href="" class="logo_link">
              <i class="fa-brands fa-instagram gray"></i>
            </a>
            <a href="" class="logo_link">
              <i class="fa-brands fa-medium gray"></i>
            </a>
          </div>
          <div class="space">
            <div class="other_links">
              <span class="bold">SUPPORT</span><br>
              <a href="" class="block_links">Contact us</a>
              <a href="" class="block_links">FAQs</a>
              <a href="" class="block_links">Size Guide</a>
              <a href="" class="block_links">Shipping & Returns</a>
            </div>

            <div class="other_links">
              <span class="bold">SHOP</span><br>
              <a href="" class="block_links">Men's Shopping</a>
              <a href="" class="block_links">Women's Shopping</a>
              <a href="" class="block_links">Kid's Shopping</a>
              <a href="" class="block_links">Discounts</a>
            </div>

            <div class="other_links">
              <span class="bold">COMPANY</span><br>
              <a href="" class="block_links">Our Story</a>
              <a href="" class="block_links">Careers</a>
              <a href="" class="block_links">Terms & Conditions</a>
              <a href="" class="block_links">Privacy & Cookie Policy</a>
            </div>
            <div class="other_links">
              <span class="bold">CONTACT</span><br>
              <a href="" class="block_links">1-202-555-0105</a>
              <a href="" class="block_links">1-202-555-0106</a>
              <a href="" class="block_links">help@shopper.com</a>
            </div>
          </div>
        </div>
        <hr>
        <div id="extras">
          <p class="copy">&copy; 2022 All rights reserved. Designed by Ifeoluwa.</p>
          <div class="pay">
            <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/mastercard.svg" class="payments" />
            <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/visa.svg" class="payments" />
            <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/amex.svg" class="payments" />
            <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/paypal.svg" class="payments" />
            <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/maestro.svg" class="payments" />
          </div>
        </div>
      </section>
    </footer>

    <!--END OF FOOTER SECTION AREA-->
  </div>
</div>